.light-box{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.light-box button{
    position: absolute;
    right: 20px;
    top:20px;
}
.light-box img{
    max-height: 90%;
}